nav div h1 {
    text-align: center;
}
.mynav {
    margin-top: 20px;
}

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 1.0s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
   opacity: 0;
    top: 150px;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}
.myBoard table tr:first-child td {    
  height: 140px;
  width: 20px;
  white-space: nowrap;
}
.myBoard table tr:first-child td div{
     transform: 
    translate(-20px, 60px)
    rotate(315deg);
  width: 20px;
  height: 20px;
  padding: 10px;
}

.friend {
    color: limegreen;
    font-weight: bold;
}
.enemy {
    color: darkred;
    font-weight: bold;
}
.matchup {
  position: relative;
  display: flex;
  width: 100%;
}
.win {
  position: absolute;
  top: 100px;
  left: 50%;
  margin: 0 0 0 -90px;
  padding: 0;
  list-style-type: none;
}
.win > li {
  display: inline-block;
  padding: 0;
  margin: 0;  
  width: 85px;
  text-align: center;
}
.odds {
  position: absolute;
  top: 0px;
  left: 50%;
  margin: -4px 0 0 -90px;
  padding: 0;
  list-style-type: none;
}
.odds > li {
  display: inline-block;
  padding: 0;
  margin: 0;  
  width: 85px;
  text-align: center;
}
.score {
  position: absolute;
  top: 18px;
  left: 50%;
  margin: 0 0 0 -90px;
  padding: 0;
  list-style-type: none;
}
.score > li {
  display: inline-block;
  padding: 0;
  margin: 0;  
}
.score > li > input {
    color: dimgray;
    font-size: 250%;
    text-align: center; 
    width: 85px;
    height: 85px;   
}
.score > li:not(:last-child) {
  margin-right: 4px;
}
.matchup-side {
  position: relative;
  width: 50%;
  min-height: 110px;
}
.matchup-player {
    color: dimgray;
  margin: 8px;
}

.matchup-players {
  position: absolute;
  top: 10px;
  width: 200px;
  font-size: 250%;
}
.matchup-side.side-left > .matchup-players {
  right: 100px;
  text-align: right;
}

.matchup-side.side-right > .matchup-players {
  left: 100px;
}

.matchup-side > .extra-info {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
  .matchup-side.side-left > .extra-info {
   left: 2px;
   top: 2px;
  }
  .matchup-side.side-right > .extra-info {
   right: 10px;
  }

.matchup-side > .extra-info > li {
  display: inline-block;
  height: 30px;
  width: 40px;
  text-align: center;
}